<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit a User</title>
  </head>
  <body>
    <h1>Edit/Delete the user <%= @user.name %></h1><br />
    <form action="/users/<%= @user.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label>Name:</label>
      <input name="user[name]" />
      <input type="submit" name="submit" value="submit">&nbsp;
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete This User?">
    </form>
  </body>
</html>
